<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout :: site-head">
</head>
<body>
<header th:replace="layout :: logged-out">

</header>
<h2>Register here:</h2>
<form method="post" th:object="${User}" th:action="@{/users/registration}">
    <div>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" th:field="${User.username}">
    </div>

    <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" th:field="${User.password}">
    </div>

    <div>
    <label for="fullname">Full Name:</label>
    <input type="text" id="fullname" name="fullname" th:field="${User.profile.fullName}">
    </div>

    <div>
        <label for="email">Full Name:</label>
        <input type="text" id="email" name="email_address" th:field="${User.profile.emailAddress}">
    </div>

    <div>
        <label for="mobile">Full Name:</label>
        <input type="text" id="mobile" name="mobile_number" th:field="${User.profile.mobileNumber}">
    </div>

    <input type="submit" value="Register">
</form>
</body>
</html>